# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used for local development
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore lock files
.terraform.lock.hcl

**.vscode/*

dbt_packages/
logs/
data_prep/
ex.sh
.env
.streamlit/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
**/__pycache__/

# Jupyter
*.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Airflow
*.db
*.sqlite3

# dbt
*/dbt/target/
*/dbt/logs/

# Testing
.pytest_cache/
.mypy_cache/
.coverage

# Misc
*.swp
*.bak
*.tmp
*.orig

# Environment files
.env

# Logs
*.log
logs/
